.App{
    
    background-color: #282a36 !important;
    border: 2px !important;
    border-color: #ff79c6 !important;
    height: 100vh;

}
.body{
    background-color: #282a36 !important;
    border: 2px !important;
    border-color: #ff79c6 !important;
    height: 100vh;
}
.cabecalho{
    background-color: #F6B352 !important;
    height: 4% !important;
    padding-bottom: 4vw !important;
    margin-bottom: 50px !important;
}

.logotop{
    font-size: 3vw !important; 
    color: white !important;
    padding-bottom: 50px;
    padding-top: 3px;
    text-shadow: 5px 5px 10px black !important;
    padding-left: 50px;
    
}